# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias lg=lazygit
alias vim="nvim"
alias ll="ls -la --color"
alias tms="tmux-sessionizer"
